{
  "model": "sonnet",
  "enabledPlugins": {
    "glm-plan-usage@zai-coding-plugins": true,
    "glm-plan-bug@zai-coding-plugins": true,
    "rust-analyzer-lsp@claude-plugins-official": true
  },
  "editorMode": "vim",
  "statusLine": {
    "type": "command",
    "command": "CLAUDE_STATUSLINE_THEME=classic CLAUDE_STATUSLINE_NERD_FONT=true npx claude-code-statusline-pro-aicodeditor@latest"
  }
}
